<ion-header>
  <ion-navbar>
    <ion-title>
      Location
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 *ngIf="dataError">Error {{ dataError }}</ion-col> 
      <ion-col col-6>Latitude {{ latitude }}</ion-col> 
      <ion-col col-6>Longitude {{ longitude }}</ion-col>
      <ion-col col-6>Latitude {{ watchLatitude }}</ion-col> 
      <ion-col col-6>Longitude {{ watchLongitude }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>TOTAL RUN: {{ distance }} KM</ion-col> 
      <ion-col col-12>SPEED: {{speed}} KM/h</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>Latitude</ion-col> 
      <ion-col col-4>Longitude</ion-col>
      <ion-col col-4>Distance</ion-col>
    </ion-row>
    <ion-row *ngFor="let item of items">
      <ion-col col-4>{{ item.lat }}</ion-col> 
      <ion-col col-4>{{ item.long }}</ion-col>
      <ion-col col-4>{{ item.distance }}</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
